@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 48px;
    background-color: #302e2b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 1px;
}

.imagem {
    width: 100px;
    height: auto;

}

.titulo {
    font-family: Impact, serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.retangulo {
    background-color: #739552;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.subtitulo {
    font-size: 35px;
    color: white;
}

.listas {
    font-size: 30px;
    width: 100%;
    padding: 5%;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
}

.clicavel1 {
    color:black;
    text-decoration: none;
    transition: 0.7s;
}

.clicavel1:hover {
    color:white;
}

a:hover{
    color: black;
    text-decoration-color: white;
    transition: color 0.1s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

div#xadrezInfo {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    width: 90%;
}


div#xadrezInfo p {
    margin: 10px;
}

#ulPecas {
    font-size: 80%;
    margin: 0 100px;
}